# log files
data/
model_data
train_data
molecule_data

# documentation build
docs/build/*

# pytest coverage
htmlcov/
*.coverage

# packaging files
build/
dist/


#python utility files
__pycache__/
.ipynb_checkpoints/
*/__pycache__/
src/*.egg-info
.pytest_cache/

#vscode utility files
.vscode/