absl-py==0.8.1
ase==3.17.0
astor==0.8.0
atari-py==0.2.6
chardet==3.0.4
click==7.0
cloudpickle==1.2.1
cycler==0.10.0
cython==0.29.13
deepchem==2.2.1.dev54
dill==0.3.0
flask==1.0.3
future==0.17.1
gast==0.3.2
glfw==1.8.3
google-pasta==0.1.8
googledrivedownloader==0.4
grpcio==1.25.0
gym==0.15.4
h5py==2.10.0
idisplay==0.1.2
idna==2.8
imageio==2.5.0
isodate==0.6.0
itsdangerous==1.1.0
joblib==0.14.0
jupyter==1.0.0
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.1.0
lockfile==0.12.2
markdown==3.1.1
matplotlib==3.1.0
mdtraj==1.9.3
mpi4py==3.0.2
networkx==2.3
nglview==2.2.0
npm==0.1.1
opencv-python==4.1.0.25
optional-django==0.1.0
plyfile==0.7.1
progressbar2==3.46.0
protobuf==3.11.0
psutil==5.6.3
py3dmol==0.8.0
pyglet==1.3.2
pyparsing==2.4.0
python-utils==2.3.0
pywavelets==1.0.3
rdflib==4.2.2
requests==2.22.0
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.0
sortedcontainers==2.1.0
stable-baselines==2.7.0
tensorboard==1.14.0
tensorboardx==1.8
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
torch==1.3.1
torch-cluster==1.4.5
torch-geometric==1.3.2
torch-scatter==1.4.0
torch-sparse==0.4.3
tqdm==4.32.2
urllib3==1.25.7
werkzeug==0.15.4
wrapt==1.11.2
zmq==0.0.0